.login-container{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-field{
    margin: 0;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    background-color:#fff;
    border-bottom: 1px solid #ccc;
    border-radius: 10px;

   
}

.login{
    width: 300px;
    margin-top: 10px;
    border: 1px solid #ccc;
    font-size: 20px;
    padding: 10px;
}

.login-button{
    border: none;
    outline: none;
    width: 321px;
    margin-top: 10px;
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.login-button:hover{
    background-color: rgb(20, 197, 35);
    cursor: pointer;
}

.linkedin-logo{
    width: 250px;
    height: auto;
}

.span-click{
    color: blue;
}
.span-click:hover{
    cursor: pointer;
}

.error-message{
    color: red;
}
